@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GLOBAL STYLES */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	line-height: 1.3;
	font-size: 14px;
	color: #413d4b;
}

input,
textarea { font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 32px;
	font-weight: 900;
}

h2,
h3 {
	font-size: 22px;
	text-transform: uppercase;
}

h5 {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #00e0d0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

iframe {
	max-width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}

.shell {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.button {
	display: inline-block;
	padding: 8px;
	border: 1px solid #00e0d0;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: -1px;
	color: #00e0d0;
	text-transform: uppercase;
}

.button:hover {
	text-decoration: none;
	color: #03b1a5;
	border-color: #03b1a5;
}

.ico {
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 17.50px;
	color: #fff;
	border: 1px solid #fff;
	background-repeat: no-repeat;
	background-position: center center;
}

.ico-facebook {
	background-image: url(../images/icon-facebook_71.png);
}

.ico-twitter {
	background-image: url(../images/icon-twitter_74.png);
}

.ico-youtube {
	background-image: url(../images/icon-youtube_77.png);
}

.ico-instagram {
	background-image: url(../images/icon-instagram_74.png);
}

.video-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* HEADER */

header {
	position: absolute;
	width: 960px;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 16px;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header nav {
	padding-right: 10px;
}

header nav ul {
	display: flex;
}

header nav ul li {
	padding: 10px 13px;
	list-style: none;
}

header nav ul li a:hover {
	color: cyan;
}

header nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	transition: color 0.3s;
}

/* SECTION HERO */

.section-hero {
	position: relative;
	background: url(../images/hero.jpg) no-repeat center center/cover;
	height: 670px;
}

.section-hero .section__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 712px;
	color: #fff;
	text-align: center;
}

.section-hero .section__content h1 {
	position: relative;
	margin-bottom: 46px;
}

.section-hero .section__content h1:after {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 1px;
	background-color: #00e0d0;
}

.section-hero .section__content p {
	margin-bottom: 47px;
	line-height: 1.71;
}

.section-hero .section__content .button {
	text-transform: uppercase;
	
}

/* SECTION STORY */

.section-story .section__inner {
	display: flex;
	justify-content: space-between;
	padding: 65px 0;
	flex-wrap: wrap;
}

.section-story .section__image {
	width: 320px;
	text-align: center;
}

.section-story .section__content {
	width: 550px;
	margin-right: 10px;
}

.section-story .section__content p {
	margin-bottom: 22px;
	line-height: 1.57;
}

.section-story .section__content h2 {
	margin-bottom: 21px;
}

/* SECTION VIDEO */

.section-video {
	background: url(../images/video-background.jpg) no-repeat center center;
	background-size: cover;
}

.section-video .section__content {
	text-align: center;
	padding: 130px 0 93px;
}

.section-video .section__content h2 {
	color: #fff;
	padding-bottom: 78px;
}

.section-video .video {
	width: 1020px;
	margin: 0 auto;
}

/* SECTION CONTACTS */

.section-contacts h3 {
	margin-bottom: 33px;	
}

.section-contacts .form {
	width: 460px;
}

.section-contacts .form input,
.section-contacts .form textarea {
	width: 100%;
	padding: 5px 19px;
	border: 1px solid #999;
	font-size: 14px;
}

.section-contacts .form input {
	height: 45px;
	margin-bottom: 20px;
}

.section-contacts .form textarea {
	height: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 16px;
}

.section-contacts .form .button {
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #00e0d0;
	width: 120px;
}

.section-contacts .section__inner {
	margin-top: 78px;
	margin-bottom: 66px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section-contacts .sponsors {
	width: 380px;
}

.section-contacts .sponsors h3 {
	margin-bottom: 34px;	
}

.section-contacts .sponsors ul {
	display: flex;	
	flex-wrap: wrap;
	align-items: center;
}

.section-contacts .sponsors li {
	width: 50%;
	margin-bottom: 27px;
	list-style: none;
	text-align: center;	
}

.contacts-shell {
	width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

/* SECTION GALLERY */

.section-gallery {
	padding: 75px 0 33px;
	text-align: center;
}

.section-gallery h3 {
	text-align: center;
	margin-bottom: 66px;
}

.section-gallery ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.section-gallery ul li {
	list-style: none;
	width: 16.66%;
	height: 200px;
}

.section-gallery img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	transition: 0.3s;
}

.section-gallery img:hover {
	transform: scale(1.1);
}

/*FOOTER*/
footer {
	padding: 75px 0 65px;
	background: url(../images/footer-background.jpg) no-repeat center center/cover;

}

footer .footer__columns {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 75px;
}

footer .footer__columns .col-1,
footer .footer__columns .col-2,
footer .footer__columns .col-3 {
	color: white;
}

footer .footer__columns .col-1 {
	width: 285px;
	margin-right: 35px;
}

footer .footer__columns .col-1 img {
	margin-bottom: 15px;
}

footer .footer__columns .col-1 p {
	line-height: 26px;
}

footer h5 {
	padding: 14px 0 35px;
}

footer .footer__columns .col-2 {
	width: 285px;
	margin-right: 45px;
}

footer .col-2 ul li {
	display: flex;
	list-style: none;
	margin-bottom: 40px;
	line-height: 26px;
}

footer .footer__columns .col-2 a {
		color: #fff;
}

footer .footer__columns .col-2 img {
	margin: 4px 15px 0 0;
	align-self: flex-start;
}

footer .form-subscribe {
	display: flex;
	margin-bottom: 29px;
}

footer .form-subscribe input[type="email"] {
	width: 209px;
	font-size: 14px;
	padding: 13px 19px;
	margin-right: 10px;
	border: 1px solid #fff;
	opacity: 0.9;
	background: transparent;
}

footer .form-subscribe input[type="submit"] {
	width: 70px;
	padding: 6px 22px;
	opacity: 0.9;
	border: 1px;
	background: #fff url(../images/icon-send_66.png) no-repeat center center;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

footer .socials {
	display: flex;
}

footer .socials li {
	list-style: none;
	margin-right: 8px; 
}

footer .copyright {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

footer .copyright ul li {
	list-style: none;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 32px;
}

footer .copyright ul li a {
	color: #fff;
}

/* TABLET MEDIA QUERY */

@media only screen and (max-width: 1024px) {
	.shell {
		width: 100%;
		padding: 0 20px;
	}

	header {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.section-story .section__content {
		margin-right: 0;
		margin-left: 20px;
	}
	.section-story .section__inner {
		justify-content: center;
	}

	.section-story .section__inner .section__image {
		padding-bottom: 20px;
	}

	.section-video .video {
		width: 100%;
		padding: 0 20px;
	}

	.section-video .section__content {
		padding-top: 70px;
	}

	.section-gallery ul li {
		width: 33.33%;
	}

	.section-contacts .form {
		width: 45%;
	}

	.section-contacts .sponsors {
		width: 45%;	
	}

	footer .footer__columns .col-1,
	footer .footer__columns .col-2,
	footer .footer__columns .col-3 {
		width: 31%;
		margin: 0 1%;
	}
}

@media only screen and (max-width: 768px) {
	.section-hero .section__content {
		width: 80%;
	}

	.section-contacts .sponsors li {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	}

	footer .form-subscribe input[type="email"] {
		width: 141px;
	}

	footer .footer__columns .col-1,
	footer .footer__columns .col-2 {
		width: 46%;
		margin: 0 2% 20px;
	}

	footer .footer__columns .col-3 {
		width: 100%;
	}
}

@media only screen and (max-width: 550px) {
	header {
		justify-content: center;
	}
}

/* PHONE MEDIA QUERY */

@media only screen and (max-width: 480px) {	
	header nav {
		padding-right: 0;
	}

	.section-story .section__inner {
		flex-wrap: wrap;
	}

	.section-gallery ul {
		margin-bottom: 30px;
	}

	.section-gallery ul li {
		width: 50%;
	}

	.section-video .section__content h2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.section-contacts .form {
		width: 100%;
	}

	.section-contacts .sponsors {
		width: 100%;
	}

	.section-contacts .section__inner {
		margin-top: 0;
	}

	footer {
		padding: 30px 0;
	}

	footer .footer__columns .col-1,
	footer .footer__columns .col-2,
	footer .footer__columns .col-3 {
		width: 100%;
		margin: 0 0 40px;
	}

	footer .col-2 ul li {
		margin-bottom: 10px;
	}

	footer .footer__columns {
		padding-bottom: 0;
	}

	footer .copyright {
		font-size: 12px;
		display: block;
	}

	footer .copyright ul li {
		margin-right: 10px;
	}

	footer .copyright ul {
		margin-bottom: 6px;
	}
}